/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}



h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
body {
    margin: 2em;
}

section {
    padding-bottom:15px;
    padding-top:10px;
}


label.btn.btn-raised.active {
    color:white;
}

.match {
    color:#005849;
    /*     font-style:italic; */
}


.completer-selected-row {
    color:#e8e8e8 !important;
}

.completer-selected-row  {
    background:#009688 !important;
}

.completer-selected-row .match {
    color:#fff !important;
    font-weight:bold;
}


div.form-group .checkbox label, div.form-group .radio label, div.form-group label {
    color:#999;
}

.checkbox .checkbox-material, label.checkbox-inline .checkbox-material {
    padding-right:5px;
}

.hint.error {
    color: #ee4444;
    font-size:12px;
}

/*div.btn-group .btn.btn-info.btn-raised.active {*/
    /*background: #2f72ff;*/
    /*!*    outline:1px solid red; *!*/
/*}*/

a.text-muted {
    color:#ddd;
}

.btn.btn-raised.btn-info.active {
    background:#0fc2ff !important;
    font-weight:bold;
}

.demo .page-header li.fa {
    padding-right: 10px;
}

.demo .page-header {
    font-size: 40px;
}


.container.demo { background:white;}

.demo .form-horizontal {
    padding-left:40px;
}


/* hacks!!*/
.demo .table {
    width:95%;
}
.demo table.table th {
    height: 60px;
    padding-left :10px;
}
.demo table.table tr {
    height: 40px;
}


.demo .btn[disabled][type="submit"] {
    color:#666 !important;
    background:#ddd !important;
}

.demo .btn[type="submit"]:hover {
    color:#666 !important;
    background: #90d5cf !important;
}