<div id="main-content" class="container">

    <form class="form-horizontal" [formGroup]="form" (submit)="handleSubmit($event)">

    <div class="row">
        <div class="form-group col-md-12 btn-group" data-toggle="buttons">
            <label class=" btn btn-raised btn-info" [class.active]="isForms()">
                <input formControlName="tab" value="forms" type="radio">Forms
            </label>
            <label class=" btn btn-raised btn-info" [class.active]="isMessages()">
                <input formControlName="tab" value="messages" type="radio">Messages
            </label>
            <label class=" btn btn-raised btn-info" [class.active]="isBrokers()">
                <input formControlName="tab" value="brokers" type="radio">Brokers
            </label>
            <label class=" btn btn-raised btn-info" [class.active]="isQuotes()">
                <input formControlName="tab" value="quotes" type="radio">Quotes
            </label>
        </div>
    </div>

    </form>

    <table *ngIf="isForms()">
        <caption>Forms</caption>
        <thead>
            <th>Name</th>
            <th>Conent</th>
        </thead>
    </table>
    <table *ngIf="isMessages()">
        <caption>Messages</caption>
        <thead>
            <th>From</th>
            <th>To</th>
            <th>Text</th>
        </thead>
    </table>
    <table *ngIf="isQuotes()">
        <caption>Quotes</caption>
        <thead>
            <th>Name</th>
            <th>Content</th>
        </thead>
    </table>
    <table *ngIf="isBrokers()">
        <caption>Brokers</caption>
        <thead>
            <th>First</th>
            <th>Last</th>
            <th>Number</th>
        </thead>
    </table>


    <footer>
        <div class="row">
            <span class="col-md-4"><a role="button" routerLink="/login">Home</a></span>
        </div>
    </footer>

</div>
