<main class="container demo">

    <div class="bs-example" data-example-id="simple-jumbotron">
        <div class="jumbotron">
            <div class="row text-primary">
                <h1 class="col-md-6"><i class="fa fa-hand-spock-o" aria-hidden="true"></i><span>Brovada Demo<span></span></span></h1>
                <span class=" col-md-1"><a class="text-muted" routerLink="/login">Login</a></span>
                <span class="col-md-1"><a class="text-muted" routerLink="/create">Create</a></span>
                <span class="col-md-1"><a class="text-muted" routerLink="/insured">Insured</a></span>
                <span class="col-md-1"><a class="text-muted" routerLink="/ai">AI</a></span>
                <span class="col-md-1"><a class="text-muted" routerLink="/ai2">AI2</a></span>
                <span class="col-md-1"><a class="text-muted" routerLink="/payment">Payment</a></span>
            </div>
            <div class="row">
                <p class="col-md-8">Angular 2 / Spring / REST / Mongo & More!</p>
                <span class="col-md-1 col-md-offset-2"><a role="button" routerLink="/admin">Admin</a></span>
                <span class="col-md-1"><a role="button" routerLink="/chat">Chat</a></span>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

</main>

